*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: left;
    margin: 10px;
    font-size: 30px;
   font-family: 'Courier New', Courier, monospace;
}
h3{
    text-align: left;
    margin: 10px;
    font-size: 16px;
   
   font-style: italic;
}
span{
    color: red;
}
.input_row{
    display: flex;
}
legend{

 margin: 20px;
 
}
fieldset{
    border: 1px solid black;
    margin: 20px;

}


.input_row label{
    padding: 0.3em 30px;
    margin-right: 0.3em 30px;

}
input{
    padding: 5px;
    margin: 5px;
    justify-content: center;
    
}